import { BaseDTO } from '../../infrastructure/config/base.dto';
import { IsNotEmpty } from "class-validator";

export class __Name__DTO extends BaseDTO {
    @IsNotEmpty()
    exampleField!: string;
}
