import { Column, Entity } from "typeorm";
import { BaseEntity } from "../../config/base.entity";

@Entity({ name: "__name__" })
export class __Name__Entity extends BaseEntity {
    @Column()
    exampleField!: string;
}
