import { __name__Controller } from "../controllers/index.controller"
import { __name__Middleware } from "../middlewares/index.middleware";
import { Routes } from "./routes";


const router = Router();

router.get('/__name__', (req, res) => { this.controller.getAll__Name__(req, res) });
router.post('/__name__', __name__middleware.__name__Validator.bind(__name___middleware), (req, res) => { this.controller.create__Name__(req, res); });

export const UserRouter = router;